<img src='https://media1.popsugar-assets.com/files/thumbor/_ql1hsQS40MRlrDsPpNM_NspLhs/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2017/10/16/868/n/43638449/eee8fce159e3bc12c01151.62980716_edit_img_cover_file_44145574_1508096408/i/Creative-First-Birthday-Party-Ideas.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

<font size='7' color='8D42EE'> <h1 align='center' > Hello there!</h1></font>

<form align='center' action='/info' method='post'>
  <font size='5' color='8D42EE  '><h2 align= 'center'> What's your name?</h2>
  <input  type='text' name='name'>
  <h2 align='center'> When's your birthday?</h2>
  <label for='day'>
    Day:
  <input  type='number'  name='day' style="width: 4em" >
  </label>
  <label >
    Month:
    <select name='month'>
      <option value='select'>Select</option>
      <option value='january'>January</option>
      <option value='february'>February</option>
      <option value='march'>March</option>
      <option value='april'>April</option>
      <option value='may'>May</option>
      <option value='june'>June</option>
      <option value='july'>July</option>
      <option value='august'>August</option>\
      <option value='september'>September</option>
      <option value='october'>October</option>
      <option value='november'>November</option>
      <option value='december'>December</option>
    </select>
  </label>
  <input type="submit" value='submit'>
</form>
