<% if @result == 0 %>
   <img src='http://lakeofthetorches.com/wp-content/uploads/2016/06/B-Day-Party-website.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
   <font size="7" color='8D42EE'> <h1 align='center'> Happy birthday <%= @name.capitalize %>! </h1></font>
<% else %>
  <img src='https://ak8.picdn.net/shutterstock/videos/3913568/thumb/1.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
  <font size="5" color='8D42EE'><h1 align='center'> Your birthday is in <%= @result %> days, <%= @name.capitalize %>! </h1>
<% end %>
