

<% if @result == 0 %>
 <h1 align='center'> Happy birthday <%= @name.capitalize %>! </h1>
 <% else %>
 <h1 align='center'> Your birthday is in <%= @result %>, <%= @name.capitalize %>! </h1>
<% end %>
